.ContentBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  height: 100%;
  border-radius: 1em;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 8px;

}
.contentBoxImage {
  background-image: url("./background.jpg");
  background-position: bottom;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-size: cover;
  &__vertical {
    background-image: url("./background90.jpg");
    background-position: bottom;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-size: cover;
  }
}
.contextBoxChildren {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  padding: 0.5em 0.5em 0.8em 1em;
  opacity: 1;
  align-items: center;
}
