.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.1em;
  width: 100%;
  padding-left: 1.9em;
  padding-right: 1.9em;
  border-radius: 1em;
  margin-bottom: 0.3em;
  color: #ffffff;
  background-color: #005025;
  font-size: 14px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &__black {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.1em;
    width: 100%;
    padding-left: 1.9em;
    padding-right: 1.9em;
    border-radius: 1em;
    margin-bottom: 0.3em;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;    
  }

}
.shadow {
  box-shadow:3px 3px 3px #00000050;
}


.Button:hover {
  opacity: 0.75;
}
.Button__black:hover {
  background-color:  rgb(53, 17, 17); ;
  opacity: 1;
}
.Button:active {
  opacity: 1;
  background-color: rgba(136, 0, 0, 0.85);
}