.Experience{
  width:100%
}
.vacancy{
  width: 100%;
  margin-top:8px;
  word-wrap: break-word;
  text-align: start;
}
.job{
  width: 100%;
  display: flex;
  margin-top: 7px;
  flex-direction:column;
  word-wrap: break-word;
  text-align: start;
  gap:0.5em;
}
.marker ::marker{
  display: list-item;
  list-style-type: "!!!!";
  padding-inline-start: 1ch;
  color: #000000;
  font-size: 1.5em;
}
li::before {
  content: "•";
  padding-inline: 0.5ch;
  margin-inline-end: 0.5ch;
}
.smallMarginBottom{
  margin-bottom: 8px;
}