.Experience {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap:8px;
}
.experienceWord{
  display: flex;
  justify-content: center;
  width: 450px;
}
.Experience:first-child {
  display: flex;
  flex-direction: column;
}
.vacancy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 364px; 
  margin-top: 8px;
  text-align: start;
  gap:0.2em;
  @media (max-width:500px) {
    width: 353px;
    
  }
}
.job {
  display: flex;
  word-wrap: break-word;
  margin-top: 7px;
  flex-direction: column;
  text-align: start;
  gap: 0.5em;
  }
.marker ::marker {
  display: list-item;
  list-style-type: "!!!!";
  padding-inline-start: 1ch;
  color: #000000;
  font-size: 1.5em;
}
li::before {
  content: "•";
  padding-inline: 0.5ch;
  margin-inline-end: 0.5ch;
}

