.Experience {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  &__name {
    width: 450px;
    align-self: center;
    width: screen;
  }
}

.Experience:first-child {
  display: flex;
  flex-direction: column;
}


