.Contacts {
  display: flex;
  flex-basis: 49.45%;
  width: 100%;
  @media (max-width: 800px) {
    flex-basis: 100%;
  }

  &__name {
    align-self: center;
    padding: 5px 8px 8px 8px;
  }
  &__picturePlusInfo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__pad {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    @media (max-width: 800px) {
      gap: 15px;
    }
  }
  &__link :hover {
    color: rgba(0, 84, 153, 0.85);
  }
  &__iconBoard {
    display: flex;
    width: 85%;
    justify-content: space-between;
    gap: 8px;
  }
  &__contactIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: #ffffff;
    border-radius: 3em;
    overflow: hidden;
    box-shadow: 3px 3px 3px #00000060;
  }
  &__contactIcon:hover .svgIcon {
    fill: #005025;
  }
}

.smallPadding {
  padding-top: 8px;
}
